* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(63, 59, 59);
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
}

h2 {
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 20px;
  color: rgb(47, 79, 79);
}

.menu {
  background-color: rgb(0, 0, 0);
}

p a {
  color: rgb(255, 166, 0);
}

.nav-link {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: 70px;
}

footer {
  background-color: rgb(165, 42, 42);
  margin-top: 20px;
}
footer h6 {
  color: rgb(0, 0, 0);
}
footer h6 a {
  color: rgb(255, 166, 0);
}

.encabezado-h2 {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: rgb(228, 218, 218);
}

.historia-index, .miembros-index, .discografia-index, .galeria-index {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.historia-index h2, .miembros-index h2, .discografia-index h2, .galeria-index h2 {
  font-size: 30px;
}

.historia-index p, .miembros-index p, .discografia-index p, .galeria-index p {
  justify-content: center;
  color: rgb(228, 218, 218);
  font-size: 17px;
  margin-top: 10px;
}

.historia-contenido {
  margin-left: 10px;
  height: 350px;
}

.miembros-contenido {
  margin-right: 10px;
  height: 370px;
}

.discografia-contenido {
  margin-left: 10px;
  height: 515px;
}

.galeria-iframe-dos {
  width: 560px;
  height: 315px;
}

.historia-encabezado h1 {
  text-align: center;
}

.historia-encabezado p {
  text-align: center;
  font-size: 17px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  color: rgb(228, 218, 218);
}

.historia-main-ul {
  margin-top: 30px;
  margin-left: 100px;
}
.historia-main-ul .historia-encabezado li {
  list-style: none;
  font-size: 20px;
  color: rgb(228, 218, 218);
}

.historia-main-div {
  display: flex;
  align-items: center;
}
.historia-main-div .historia-main-ul {
  margin-top: 30px;
  margin-left: 100px;
}
.historia-main-div .historia-main-ul .historia-main-img {
  margin-left: 100px;
}

.historia-art-uno, .historia-art-dos, .historia-art-tres {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
}

.historia-art-uno h2, .historia-art-dos h2, .historia-art-tres h2 {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 50px;
}

.historia-art-uno p, .historia-art-dos p, .historia-art-tres p {
  justify-content: center;
  color: rgb(228, 218, 218);
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 50px;
}

.james-section, .lars-section, .kirk-section, .robert-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 17px;
}

.james-section h2, .lars-section h2, .kirk-section h2, .robert-section h2 {
  font-size: 30px;
  margin-left: 10px;
}

.james-cont h3, .lars-cont h3, .kirk-cont h3, .robert-cont h3 {
  font-size: 20px;
  color: rgb(47, 79, 79);
  margin-left: 10px;
}

.james-section p, .lars-section p, .kirk-section p, .robert-section p {
  color: rgb(228, 218, 218);
  margin-top: 10px;
  margin-left: 10px;
}

.james-img {
  margin-top: -360px;
}

.lars-img {
  margin-top: -400px;
}

.kirk-img {
  margin-top: -485px;
}

.robert-img {
  margin-top: -460px;
}

.ron-section, .dave-section, .cliff-section, .jason-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 17px;
}

.ron-section h2, .dave-section h2, .cliff-section h2, .jason-section h2 {
  font-size: 30px;
}

.ron-section p, .dave-section p, .cliff-section p, .jason-section p {
  color: rgb(228, 218, 218);
  margin-top: 10px;
}

.dave-img {
  margin-top: -150px;
}

.cliff-img {
  margin-top: -30px;
}

.jason-img {
  margin-top: 50px;
}

.timelane-div {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.timelane-div .timelane {
  margin-top: 50px;
}
.timelane-div .timelane .timelane h2 {
  font-size: 30px;
}

.formacion-actual {
  margin-left: 50px;
}

.formacion-actual h2 {
  font-size: 30px;
  margin-left: 30px;
}

.formacion-actual li {
  list-style: none;
  color: rgb(228, 218, 218);
  font-size: 17px;
}

.formacion-actual a {
  color: yellow;
}

.miembros-anteriores {
  margin-left: 50px;
}

.miembros-anteriores h2 {
  font-size: 30px;
  margin-left: 30px;
}

.miembros-anteriores li {
  list-style: none;
  color: rgb(228, 218, 218);
  font-size: 17px;
}

.miembros-anteriores a {
  color: yellow;
}

.disco-uno {
  text-align: center;
}

.disco-uno img, .disco-dos img, .disco-tres img, .-disco-cuatro img, .disco-cinco img, .disco-seis img, .disco-siete img, .disco-ocho img, .disco-nueve img, .disco-diez img, .disco-once img {
  margin-top: 10px;
}

.disco-uno p, .disco-dos p, .disco-tres p, .disco-cuatro p, .disco-cinco p, .disco-seis p, .disco-siete p, .disco-ocho p, .disco-nueve p, .disco-diez p, .disco-once p {
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 17px;
  color: rgb(228, 218, 218);
}

.disco-uno h2, .disco-dos h2, .disco-tres h2, .-disco-cuatro h2, .disco-cinco h2, .disco-seis h2, .disco-siete h2, .disco-ocho h2, .disco-nueve h2, .disco-diez h2, .disco-once h2 {
  margin-top: 50px;
  font-size: 30px;
}

.disco-dos, .disco-tres, .disco-cuatro, .disco-cinco, .disco-seis, .disco-siete, .disco-ocho, .disco-nueve, .disco-diez, .disco-once {
  text-align: center;
  margin-top: 50px;
}

.galeria-encabezado h3 {
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  color: rgb(228, 218, 218);
  font-weight: 500;
}

.galeria-iframes {
  display: inline-block;
  margin: 100px;
}

@media (max-width: 576px) {
  .historia-imgn, .miembros-imgn, .discografia-imgn {
    width: 360px;
    margin: 0 auto;
  }
  .miembros-imgn {
    margin-top: 50px;
  }
  .historia-index, .discografia-index {
    flex-direction: column;
  }
  .miembros-index, .galeria-index {
    flex-direction: column-reverse;
  }
  .galeria-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
  }
  .historia-contenido p, .miembros-contenido p, .discografia-contenido p, .galeria-contenido p {
    font-size: 14px;
  }
  .historia-contenido h2, .miembros-contenido h2, .discografia-contenido h2, .galeria-contenido h2 {
    text-align: center;
  }
  .navbar-toggler {
    color: rgb(255, 255, 255);
  }
  .navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
  }
  .historia-encabezado h1 {
    font-size: 30px;
  }
  .historia-encabezado p {
    font-size: 14px;
  }
  .historia-main-div, .historia-art-uno, .historia-art-dos, .historia-art-tres {
    flex-direction: column;
  }
  .historia-main-div {
    margin-right: 80px;
  }
  .art-uno-cont p, .art-dos-cont p, .art-tres-cont p {
    font-size: 14px;
    text-align: center;
  }
  .art-uno-cont h2, .art-dos-cont h2, .art-tres-cont h2 {
    font-size: 20px;
    text-align: center;
  }
  .historia-main-div ul li {
    font-size: 14px;
  }
  .historia-main-imgn, .art-uno-imgn, .art-dos-imgn, .art-tres-imgn {
    width: 350px;
  }
  .art-uno-imgn, .art-dos-imgn, .-art-tres-imgn {
    margin-right: 50px;
  }
  .james-section, .lars-section {
    flex-direction: column;
    margin-top: 400px;
  }
  .james-cont, .lars-cont, .kirk-cont, .robert-cont, .ron-cont, .dave-cont, .cliff-cont, .jason-cont {
    font-size: 14px;
    text-align: center;
  }
  .kirk-section {
    flex-direction: column;
    margin-top: 500px;
  }
  .robert-section {
    flex-direction: column;
    margin-top: 470px;
  }
  .ron-section, .cliff-section {
    flex-direction: column-reverse;
  }
  .dave-section {
    flex-direction: column-reverse;
    margin-top: 150px;
  }
  .jason-section {
    flex-direction: column-reverse;
    margin-top: -50px;
  }
  .timelane-img {
    width: 500px;
  }
  .timelane-div {
    flex-direction: column;
    margin-top: -50px;
  }
  .timelane-div h2 {
    font-size: 20px;
  }
  .timelane-div li {
    font-size: 14px;
  }
  .formacion-actual {
    margin-top: 20px;
  }
  .galeria-iframes {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
