* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* index start */
body {
    background-color: rgb(163, 154, 154);
}
.menu {
    background-color: rgb(0, 0, 0);
}
.nav-link {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 70px;
}













h1 {
    text-align: center;
    font-size: 40px;
}
.encabezado-h2 {
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(228, 218, 218);
}
/* cambios historia start */
.historia-index, .miembros-index, .discografia-index, .galeria-index {
    display: flex;
    align-items: center;
}
.historia-index h2 {
    font-size: 30px;
}
.historia-index p {
    justify-content: center;
    color: rgb(228, 218, 218);
    font-size: 17px;
    margin-top: 10px;
    padding: 5px;
}
p a {
    color: rgb(255, 166, 0);
}
/* cambios historia end */
/* cambios miembros start */
.miembros-index h2 {
    font-size: 30px;
}
.miembros-index p {
    justify-content: center;
    margin-top: 10px;
    color: rgb(228, 218, 218);
    font-size: 17px;
}
/* cambios miembros end */
/* cambios discografia start */
.discografia-index h2 {
    font-size: 30px;
}
.discografia-index p {
    justify-content: center;
    margin-top: 10px;
    color: rgb(228, 218, 218);
    font-size: 17px;
}
/* cambios discografia end */
/* cambios galeria start */
.galeria-index h2 {
    font-size: 30px;
}
.galeria-index p {
    justify-content: center;
    margin-top: 10px;
    color: rgb(228, 218, 218);
    font-size: 17px;
}
.galeria-iframe-dos {
    width: 560px;
    height: 315px;
}
/* cambios galeria end */
footer a {
    color: rgb(255, 0, 0);
}
footer {
    background-color: rgb(165, 42, 42);
    margin-top: 20px;
}
footer p {
    font-size: 15px;
}
/* index end  */

/* historia start */
/* main start */
.historia-encabezado {
    padding-top: 110px;
    margin-left: 50px;
}
.historia-encabezado p {
    text-align: center;
    font-size: 17px;
    margin-right: 50px;
    margin-top: 20px;
    color: rgb(228, 218, 218);
}
.historia-encabezado h1 {
    text-align: center;
}
.historia-encabezado li {
    list-style: none;
    font-size: 20px;
    color: rgb(228, 218, 218);
}
.historia-main-ul {
    margin-top: 30px;
    grid-area: ul;
}
.historia-main-img {
    grid-area: img;
}
.historia-main-div {
    display: flex;
    align-items: center;
}
/* main end */
/* articulo 1 start */
.historia-art-uno {
    display: flex;
    align-items: center;
}
.art-uno-img {
    grid-area: img;
}
.art-uno-cont {
    grid-area: contenido;
}
.historia-art-uno h2 {
    font-size: 30px;
}
.historia-art-uno p {
    justify-content: center;
    color: rgb(228, 218, 218);
    font-size: 17px;
    margin-top: 10px;
}
/* articulo 1 end */
/* articulo 2 start */
.historia-art-dos {
    display: flex;
    align-items: center;
}
.art-dos-cont {
    grid-area: contenido;
}
.art-dos-img {
    grid-area: img;
}
.historia-art-dos h2 {
    font-size: 30px;
}
.historia-art-dos p {
    justify-content: center;
    color: rgb(228, 218, 218);
    font-size: 17px;
    margin-top: 10px;
}
/* articulo 2 end */
/* articulo 3 start */
.historia-art-tres {
    display: flex;
    align-items: center;
}
.art-tres-img {
    grid-area: img;
}
.art-tres-cont {
    grid-area: contenido;
}
.historia-art-tres h2 {
    font-size: 30px;
}
.historia-art-tres p {
    justify-content: center;
    color: rgb(228, 218, 218);
    font-size: 17px;
    margin-top: 10px;
}
/* articulo 3 and */
/* historia end */

/* miembros start */
/* encabezado start */
.formacion-actual {
    padding-top: 100px;
}
.formacion-actual div {
    margin-left: 50px;   
}
.formacion-actual div a {
    color: yellow
}
.formacion-actual h2 {
    font-size: 30px;
}
.formacion-actual li {
    list-style: none;
    color: rgb(228, 218, 218);
    font-size: 17px;
}
.miembros-anteriores {
    margin-left: 50px;
}
.miembros-anteriores li {
    list-style: none;
    color: rgb(228, 218, 218);
    font-size: 17px;
}
.miembros-anteriores h2 {
    font-size: 30px;
}
.miembros-anteriores a {
    color: yellow;
}
/* encabezado end */
/* james start */
.james-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img contenido";
} 
.james-img {
    grid-area: img;
}
.james-cont {
    grid-area: contenido;
}
.james-section h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
    color: darkslategrey;
}
.james-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* james end */
/* lars start */
.lars-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img contenido";
}
.lars-img {
    grid-area: img;
}
.lars-cont {
    grid-area: contenido;
}
.lars-section h2 {
    font-size: 30px;
}
.lars-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* lars end */
/* kirk start */
.kirk-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img contenido";
}
.kirk-img {
    grid-area: img;
}
.kirk-cont {
    grid-area: contenido;
}
.kirk-section h2 {
    font-size: 30px;
}
.kirk-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* kirk end */
/* robert start */
.robert-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img contenido";
}
.robert-img {
    grid-area: img;
}
.robert-cont {
    grid-area: contenido;
}
.robert-section h2 {
    font-size: 30px;
}
.robert-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* robert end */
/* ron start */
.ron-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contenido img";
    gap: 40px;
}
.ron-img {
    grid-area: img;
}
.ron-cont {
    grid-area: contenido;
}
.ron-section h2 {
    font-size: 30px;
}
.ron-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* ron end */
/* dave start */
.dave-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contenido img";
    gap: 40px;
}
.dave-img {
    grid-area: img;
}
.dave-cont {
    grid-area: contenido;
}
.dave-section h2 {
    font-size: 30px;
}
.dave-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* dave end */
/* cliff start */
.cliff-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contenido img";
    gap: 50px;
}
.cliff-img {
    grid-area: img;
}
.cliff-cont {
    grid-area: contenido;
}
.cliff-section h2 {
    font-size: 30px;
}
.cliff-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* cliff end */
/* jason start */
.jason-section {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contenido img";
    gap: 20px;
}
.jason-img {
    grid-area: img;
}
.jason-cont {
    grid-area: contenido;
}
.jason-section h2 {
    font-size: 30px;
}.jason-section p {
    color: rgb(228, 218, 218);
    margin-top: 10px;
}
/* jason end */
.timelane {
    text-align: center;
    margin-top: 100px;
}
.timelane h2 {
    font-size: 30px;
}
/* miembros end */

/* discografia start */
.disco-uno {
    text-align: center;
    padding-top: 100px;
    
}
.disco-uno h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-uno img {
    margin-top: 10px;
}
.disco-uno p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-dos {
    text-align: center;
    margin-top: 100px;
}
.disco-dos h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-dos img {
    margin-top: 10px;
}
.disco-dos p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-tres {
    text-align: center;
    margin-top: 100px;
}
.disco-tres h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-tres img {
    margin-top: 10px;
}
.disco-tres p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-cuatro {
    text-align: center;
    margin-top: 100px;
}
.disco-cuatro h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-cuatro img {
    margin-top: 10px;
}
.disco-cuatro p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-cinco {
    text-align: center;
    margin-top: 100px;
}
.disco-cinco h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-cinco img {
    margin-top: 10px;
}
.disco-cinco p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-seis {
    text-align: center;
    margin-top: 100px;
}
.disco-seis h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-seis img {
    margin-top: 10px;
}
.disco-seis p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-siete {
    text-align: center;
    margin-top: 100px;
}
.disco-siete h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-siete img {
    margin-top: 10px;
}
.disco-siete p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-ocho {
    text-align: center;
    margin-top: 100px;
}
.disco-ocho h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-ocho img {
    margin-top: 10px;
}
.disco-ocho p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-nueve {
    text-align: center;
    margin-top: 100px;
}
.disco-nueve h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-nueve img {
    margin-top: 10px;
}
.disco-nueve p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-diez {
    text-align: center;
    margin-top: 100px;
}
.disco-diez h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-diez img {
    margin-top: 10px;
}
.disco-diez p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
.disco-once {
    text-align: center;
    margin-top: 100px;
}
.disco-once h2 {
    margin-top: 50px;
    font-size: 30px;
}
.disco-once img {
    margin-top: 10px;
}
.disco-once p {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 17px;
    color: rgb(228, 218, 218);
}
/* discografia end */

/* galeria start */
.galeria-encabezado {
    padding-top: 100px;
}
.galeria-encabezado h3 {
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(228, 218, 218);
    font-weight: 500;
}
.galeria-iframes {
    display: inline-block;
    margin: 100px;
}
.container {
    margin-top: 50px;
}
/* galeria end */
@media (max-width: 576px) {
        .historia-imgn, .miembros-imgn, .discografia-imgn {
        width: 360px;
        margin: 0 auto;
    }
    .historia-index, .discografia-index {
        flex-direction: column;
    }
    .miembros-index, .galeria-index {
        flex-direction: column-reverse;
    }
    .galeria-iframe {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .historia-contenido p, .miembros-contenido p, .discografia-contenido p, .galeria-contenido p {
        font-size: 15px;
    }
    .historia-contenido h2, .miembros-contenido h2, .discografia-contenido h2, .galeria-contenido h2 {
        text-align: center;
    }
    .navbar-toggler {
        color: rgb(255, 255, 255);
    }
    .navbar-toggler-icon {
        background-color: rgb(255, 255, 255);
    }
    .historia-encabezado h1 {
        font-size: 30px;
    }
    .historia-encabezado p {
        font-size: 14px;
    }
    .historia-main-div, .historia-art-uno, .historia-art-dos, .historia-art-tres {
        flex-direction: column;
    }
    .art-uno-cont p, .art-dos-cont p, .art-tres-cont p{
        font-size: 14px;
    }
    .art-uno-cont h2, .art-dos-cont h2, .art-tres-cont h2 {
        font-size: 20px;
    }
    .historia-main-div ul li {
        font-size: 14px;
    }
    .historia-main-imgn, .art-uno-imgn, .art-dos-imgn, .art-tres-imgn {
        width: 350px;
        margin: 0 auto;
    }
}