* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
// ----------------------------------------------------
// HISTORIA start
// encabezado start
.historia-encabezado {
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 20px;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 20px;
        color: rgb(228, 218, 218); 
    }
}
.historia-main-ul {
    margin-top: 30px;
    margin-left: 100px;
}
.historia-encabezado {
    li {
        list-style: none;
        font-size: 20px;
        color: rgb(228, 218, 218);
    }
}  
.historia-main-div {
    display: flex;
    align-items: center;
    .historia-main-ul {
        margin-top: 30px;
        margin-left: 100px;      
    }    
}
.historia-main-img {
    margin-left: 100px;
}  
// encabezado end

// main start
.historia-art-uno, .historia-art-dos, .historia-art-tres {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}
.historia-art-uno, .historia-art-dos, .historia-art-tres {
    h2 {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 50px;
    }
    p {
        justify-content: center;
        color: rgb(228, 218, 218);
        font-size: 17px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 50px;
    }
}    
// main end
// HISTORIA end
// ----------------------------------------------------
// MIEMBROS start
// miembros actuales start
.james-section, .lars-section, .kirk-section, .robert-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    h2 {
        font-size: 30px;
        margin-left: 10px;
    }
    p {
        color: rgb(228, 218, 218);
        margin-top: 10px;
        margin-left: 10px; 
    }
}
.james-cont, .lars-cont, .kirk-cont, .robert-cont {
    h3 {
        margin-left: 10px;
    }
}
.james-img {
    margin-top: -360px;
}
.lars-img {
    margin-top: -400px;
}
.kirk-img {
    margin-top: -485px;
}
.robert-img {
    margin-top: -460px;
}
// miembros actuales end

// miembros anteriores start
.ron-section, .dave-section, .cliff-section, .jason-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    h2 {
        font-size: 30px; 
    }
    p {
        color: rgb(228, 218, 218);
        margin-top: 10px;
    }
}
.dave-img {
    margin-top: -150px;
}
.cliff-img {
    margin-top: -30px;
}
.jason-img {
    margin-top: 50px;
}
// miembros anteriores end

// timelande y formación de la banda start
.timelane-div {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    .timelane {
        margin-top: 50px;
        .timelane h2 {
            font-size: 30px;
        }        
    }
}
.formacion-actual {
    margin-left: 50px;
    h2 {
        font-size: 30px;
        margin-left: 30px;
    }
    li {
        list-style: none;
        color: rgb(228, 218, 218);
        font-size: 17px;
        a {
            color: rgb(255, 166, 0)
        }
    }
}          
  .miembros-anteriores {
    margin-left: 50px;
    h2 {
        font-size: 30px;
        margin-left: 30px; 
    }
    li {
        list-style: none;
        color: rgb(228, 218, 218);
        font-size: 17px;
        a {
            color: rgb(255, 166, 0);
        }
    }
  }
// timelane y formación de la banda end
// MIEMBROS end
// ----------------------------------------------------
// DISCOGRAFÍA start
.disco-uno {
    text-align: center;
}
.disco-dos, .disco-tres, .disco-cuatro, .disco-cinco, .disco-seis, .disco-siete, .disco-ocho, .disco-nueve, .disco-diez, .disco-once {
    text-align: center;
    margin-top: 50px;
}
.disco-uno, .disco-dos, .disco-tres, .disco-cuatro, .disco-cinco, .disco-seis, .disco-siete, .disco-ocho, .disco-nueve, .disco-diez, .disco-once {
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    img {
        margin-top: 10px;
    }
    p {
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        font-size: 17px;
        color: rgb(228, 218, 218);
    }
}
// DISCOGRAFÍA end
// ----------------------------------------------------
// GALERÍA start
.galeria-encabezado {
    h3 {
        justify-content: center;
        margin-left: 80px;
        margin-right: 80px;
        color: rgb(228, 218, 218);
        font-weight: 500;
        font-size: 20px;
    }
}
.galeria-iframes {
    display: inline-block;
    margin: 100px;
}
.container {
    margin-top: 50px;
}
// GALERÍA end
// ----------------------------------------------------
// MEDIA QUERIES
@media (max-width: 576px) {
    .historia-imgn, .miembros-imgn, .discografia-imgn {
    width: 360px;
    margin: 0 auto;
}
.miembros-imgn {
    margin-top: 50px;
}
.historia-index, .discografia-index {
    flex-direction: column;
}
.miembros-index, .galeria-index {
    flex-direction: column-reverse;
}
.galeria-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
    max-width: 98%;
}
.historia-contenido p, .miembros-contenido p, .discografia-contenido p, .galeria-contenido p {
    font-size: 14px;
}
.historia-contenido h2, .miembros-contenido h2, .discografia-contenido h2, .galeria-contenido h2 {
    text-align: center;
}
.navbar-toggler {
    color: rgb(255, 255, 255);
}
.navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
}
.historia-encabezado h1 {
    font-size: 30px;
}
.historia-encabezado p {
    font-size: 14px;
}
.historia-main-div, .historia-art-uno, .historia-art-dos, .historia-art-tres {
    flex-direction: column;
}
.historia-main-div {
    margin-right: 80px;
}
.art-uno-cont p, .art-dos-cont p, .art-tres-cont p{
    font-size: 14px;
    text-align: center;
}
.art-uno-cont h2, .art-dos-cont h2, .art-tres-cont h2 {
    font-size: 20px;
    text-align: center;
}
.historia-main-div ul li {
    font-size: 14px;
}
.historia-main-imgn, .art-uno-imgn, .art-dos-imgn, .art-tres-imgn {
    width: 350px;
}
.art-uno-imgn, .art-dos-imgn, .-art-tres-imgn {
    margin-right: 50px;
}
.james-section, .lars-section {
    flex-direction: column;
    margin-top: 400px;
}
.james-cont, .lars-cont, .kirk-cont, .robert-cont, .ron-cont, .dave-cont, .cliff-cont, .jason-cont {
    font-size: 14px;
    text-align: center;
}
.kirk-section {
    flex-direction: column;
    margin-top: 500px;
}
.robert-section {
    flex-direction: column;
    margin-top: 470px;
}
.ron-section, .cliff-section {
    flex-direction: column-reverse;
}
.dave-section {
    flex-direction: column-reverse;
    margin-top: 150px;
}
.jason-section {
    flex-direction: column-reverse;
    margin-top: -50px;
}
.timelane-img, .james-imgn, .lars-imgn, .kirk-imgn, .robert-imgn, .ron-imgn, .dave-imgn, .cliff-imgn, .jason-imgn {
    max-width: 98%;
}
.timelane-div {
    flex-direction: column;
    margin-top: -50px;
}
.timelane-div h2 {
    font-size: 20px;
}
.timelane-div li {
    font-size: 14px;
}
.formacion-actual {
    margin-top: 20px;
}
.galeria-iframes {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10px;
}
}
@import '../scss/base/vars';
@import '../scss/base/maps';
@import '../scss/base/extend';
@import '../scss/base/mixin';
@import '../scss/componentes/index';



    








